<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
<style>

h1 {
  text-shadow: 2px 2px;
}

  .My_Style {

background-color: Cyan;
color: Crimson;
text-align: center;
text-decoration: underline;
font-weight: italic;
font-size: large;
}

</style>
