.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    color: aquamarine;
}

p {
    color: brown;
}

div {
    height: 500px;
    width: 500px;
}