.border {
    border-width: 2px;
    border-color: red;
    border-style: dashed;
}

.header3 {
    color: darkblue;
    text-align: center;
}

#header3 {
    color: darkblue;
    text-align: center;
}