html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.Updates {
    width: 50%;
    border: 18px;
    border-radius: 18px;
    margin: 10px;
}